body {
  background-image: url("/Background.png");
  background-size: cover;
  text-align: center;
}

#board {
  height: 530px;
  width: 580px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  background-color: whitesmoke;
  border: 10px solid black;
}

.card {
  border: solid black;
  height: 120px;
  width: 105px;
  margin: 2.5px;
}

.png {
  height: 100%;
  width: 100%;
}

.score {
  text-decoration: underline;
}
