body {
  background-image: url("/Background.png");
  background-size: cover;
  text-align: center;
}

#board {
  height: 530px;
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: whitesmoke;
  border: 10px solid black;
}

.card {
  border: solid black;
  height: 120px;
  width: 90px;
  margin: 2.5px;
}

.score {
  text-decoration: underline;
}
